<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="/">F8 education</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img src="https://images.genius.com/3a06feb5809656513371cd99a91e92b1.999x999x1.png" alt="" class="user-avatar">
              Mr.H
              </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Thêm khóa học</a></li>
              <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
              <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>